*{
  margin:auto;
  padding:0;
}
body{
  backgrund:#ed3431;
}
#contenedor{
  width:980px;
  height:870px;
  background: #d8c9229;
  border:1px solid #fcd;
  border-radius: 4px;
  box-sahdow:2px 3px 2px #777;  
}
h1{
  color:#fff;
  font-size: 23px;
  text-aling: center;
  text-shadow:2px 3px 2px #777;
}
.pre{
  color: #fff;
  width:120px;
  height: 30px;
  background:#cbb899;
}
 .mini_cont{
   width:120px;
   heigth:130px;
   border-radius: 4px;
   background: darkgray;
   box-shadow:2px 3px 2px #000;
  }
  .prue{
    color:#fff;
    font-size:17px;
    font-family:Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
  .footer{
    width:auto;
    padding:0px;
    heigth:30px;
    background:#45dcd6;  
  }
    

